body{
background-image: url(../imagens/fundo.jpg);
background-repeat: no-repeat;
background-size: cover;}

#cell{
background: no-repeat ;
background-size: contain;
background-position: center center;}