body {
    background-color: #070C13;
    margin: 0px;
}

div#container {
    height: 100vh;
    background-image: url(imagens/espaco.jpg);
    background-size: 100% 100%;
    background-color: #91D3DE;
    background-attachment: fixed;
    position: relative;
}

div#conteudo {
    height: 300px;
    width: 300px;
    background-image: url(imagens/astronauta.png);
    background-size: 100% 100%;
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}